@{
    ViewBag.Title = "Contact";
    <!DOCTYPE HTML>
    <html lang="es">
    <head>
        <meta charset="utf-8">
        <title>MuseoHistoriaNatural</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../estilos.css">
        <link rel="stylesheet" href="../estilos2.css">
        <link href="https://file.myfontastic.com/Fc5wXJthsFr4AAG8sx9mkL/icons.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="javascript/manuSticky.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="contenedor">
                <div class="logomuseoClass">
                    <img class="logomuseo" src="../recursos/logomuseo.png" alt="">
                </div>
                <div class="infoCabecera">
                    <br>
                    <p style="color:white">Horario de Atención</p>
                    <p style="color:white">Lunes a Viernes</p>
                    <p style="color:white">7AM - 7PM</p>
                </div>        
            </div>
        </header>
        <h2 class="section_titulo">PRÓXIMOS EVENTOS</h2>
        <section class="section_Evento">

            <article class="info_evento">
                <img class="img-evento izq" src="../recursos/evento1.jpg" id="img-evento">
                <div class="evento_txt" id="evento_txt">
                    <p class="info_titulo"> Dia de las Montañas </p>
                    <a class="icon-calendar"></a><p>04 al 22 de Septiembre 2017</p>
                    <a class="icon-money"></a><p>0.50$ Niños, Estudiantes, Tercera Edad<br>1.00$ Adultos</p>
                    <a class="icon-phone"></a><p>2-976300</p>
                    <p class="evento_txt_cuerpo">Casi mil millones de personas viven en zonas montañosas, y más de la mitad de la población del planeta depende de las montañas para abastecerse de agua, alimentos y energía renovable. Sin embargo, las montañas están amenazadas por el cambio climático, la degradación de los suelos, la sobreexplotación y los desastres naturales, con consecuencias potencialmente devastadoras y de largo alcance, tanto para las comunidades de montaña como para el resto del mundo.</p>
                </div>
            </article>
            <article class="info_evento">
                <img class="img-evento der" src="../recursos/evento2.jpg" id="img-evento">
                <div class="evento_txt" id="evento_txt">
                    <p class="info_titulo"> Charla: Adaptación de las orquideas para la Polinización de Insectos</p>
                    <a class="icon-calendar"></a><p>04 de Diciembre 2017</p>
                    <a class="icon-money"></a><p>Entrada Gratuita</p>
                    <a class="icon-phone"></a><p>2-976300</p>
                    <p class="evento_txt_cuerpo">La polinización es el proceso de transferencia del polen desde los estambres hasta el estigma o parte receptiva de las flores en las angiospermas, donde germina y fecunda los óvulos de la flor, haciendo posible la producción de semillas y frutos.</p>
                </div>
            </article>
        </section>
        <footer class="footer">
            <div class=contactoInfo>
                <p>Museo de Historia Natural "Gustvo Orces V."</p>
                <p>Dirección: Ladrón de Guevara E11-253 </p>
                <p>Telefono: (593 2) 223 6690</p>
                <p>Horarios: lunes a viernes 08h00 a 12h30 y 13h30 a 16h30</p>
            </div>
            <div class="social">
                <p>Redes Sociales</p>
                <a href="https://es-la.facebook.com/Museo-de-Historia-Natural-Gustavo-Orc%C3%A9s-V-1573761599542254/" target=”_blank” class="icon-facebook"></a>
                <a href="https://twitter.com/mhngov?lang=es" target=”_blank” class="icon-twitter"></a>
                <a href="https://www.youtube.com/watch?v=d2BU-cFk2AY" target=”_blank” class="icon-youtube"></a>
            </div>
            <small class="copy">Copyright © 2017 epn Todos los derechos reservados</small>
        </footer>
        <script src="../menuaccion.js"></script>
    </body>
</html>
}
